<div class="log-search">
  {% include icon.html name="search" class="log-search-ico" %}
  <input type="search" placeholder="Search the log&hellip;" aria-label="Search the log" autocomplete="off" />
  <button type="button" class="log-search-clear" aria-label="Clear search" hidden>&times;</button>
</div>

<div class="log-list" data-search-url="{{ '/search.json' | relative_url }}">
  {% assign lastYear = "" %}
  {% for post in site.posts %}
    {% assign y = post.date | date: "%Y" %}
    {% if y != lastYear %}
      {% unless lastYear == "" %}{% include pirate/divider.html %}{% endunless %}
      <div class="log-year"><span>Anno {{ y }}</span></div>
      {% assign lastYear = y %}
    {% endif %}
    {% capture searchable %}{{ post.title }} {{ post.subTitle }} {{ post.description | strip_html }} {{ post.tags | join: " " }}{% endcapture %}
    <a class="log-entry" href="{{ post.url | relative_url }}" data-search="{{ searchable | strip_newlines | normalize_whitespace | downcase | escape }}">
      <div class="log-coord">
        <span class="d">{{ post.date | date: "%d" }}</span>
        <span class="m">{{ post.date | date: "%b" }}</span>
      </div>
      <div class="log-body">
        <h3>{{ post.title | escape }}</h3>
        {% if post.subTitle %}<p class="log-sub">&lsaquo; {{ post.subTitle | escape }} &rsaquo;</p>{% endif %}
        {% if post.description %}<p class="log-exc">{{ post.description | strip_html | normalize_whitespace | truncatewords: 28 }}</p>{% endif %}
        {% if post.tags %}<div class="log-tags">{% for tag in post.tags %}<span>#{{ tag }}</span>{% endfor %}</div>{% endif %}
      </div>
      {% if post.img.url %}
        <img class="log-thumb" src="{{ 'assets/blog-images/' | append: post.img.url | absolute_url }}" alt="{{ post.img.desc | default: post.title | escape }}" loading="lazy" />
      {% endif %}
    </a>
  {% endfor %}
</div>

<div class="log-empty" hidden>
  <p>No entries in the log match that heading.</p>
  <button type="button" class="log-search-clear">Clear the search &amp; show all</button>
</div>

<script src="{{ '/assets/js/blog-search.js' | relative_url }}" type="module"></script>
