---
layout: default
---
<div class="pf">
  {% include pirate/nav.html %}
  <div class="wrap">
    {% include pirate/hero.html %}
    {% include pirate/grind-vs-fleet.html %}
    {% include pirate/divider.html %}
    {% include pirate/crew-grid.html %}
    {% include pirate/divider.html %}
    {% include pirate/amplifiers.html %}
    {% include pirate/divider.html %}
    {% include pirate/course-path.html %}
    {% include pirate/divider.html %}
    {% include pirate/other-captains.html %}
  </div>
  {% include pirate/footer.html %}
</div>
