---
layout: default
---
<div class="pf pf-post">
  {% include pirate/nav.html %}
  <div class="wrap">
    <header class="post-head">
      <a class="post-back" href="{{ '/' | relative_url }}">← Back to port</a>
      <h1>{{ page.title | escape }}</h1>
      {% if page.subTitle %}<p class="post-sub">{{ page.subTitle | escape }}</p>{% endif %}
      <div class="post-date"><i class="fa fa-clock-o"></i> {{ page.date | date: "%-d %b %Y" }}</div>
    </header>
    <div class="post-body">
      <article class="post-content">
        {{ content }}
      </article>
      <aside class="post-aside">
        {% include toc.html html=content toc=page.toc %}
        {% include blog/post-series.html %}
      </aside>
    </div>
    {% include blog/post-prev-next-links.html %}
  </div>
  {% include pirate/footer.html %}
</div>
